.container-main {
  height: calc(100vh - var(--header-h) - var(--footer-h));
  padding-top: 10px;
  padding-bottom: 10px;
}

.row-content {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box {
  display: flex;      
  flex-direction: column;    
  justify-content: center;   
  align-items: center;       
  text-align: center;        
  height: 100%;
  margin: 20px;           
}

.col-md-3 .card {
  transition: all 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
}

.col-md-3 .card:hover {
  box-shadow: 0 0 20px rgba(255, 100, 91, 0.6), 
              0 0 40px rgba(255, 100, 91, 0.4);
  transform: translateY(-5px);
}

.icon img{
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.custom-col {
  padding: 10px;
}

.custom-col .card {
  background: #212121d9;
  border-radius: 12px;
}