.parent-header {
    display: contents;
    color: rgb(15, 3, 2);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    position: fixed;
    left: 5%;
}

.right {
    position: fixed;
    right: 5%;
}