.parent-header {
    display: contents;
    font-weight: bold;
    font-size: 30px;
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.left {
    display: contents;
    position: fixed;
    left: 5%;
}

.right {
    position: fixed;
    right: 5%;
}