html, body, #root {
  height: 100%;
  margin: 0;
}

:root {
  --header-h: 60px;
  --footer-h: 60px;
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: var(--header-h);
  display: flex;
  align-items: center;
  padding: 20 20px;      
  background: rgb(252, 252, 252);
  z-index: 1000;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  height: var(--footer-h);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(2, 2, 2);
  color: #fefefe;
  z-index: 1000;
}

.body {
  padding-top: var(--header-h);
  padding-bottom: var(--footer-h);

  /* middle section can scroll */
  min-height: calc(100vh - var(--header-h) - var(--footer-h));
  overflow: auto;

  background: rgb(162, 105, 18);
  padding-left: 30px;
  padding-right: 30px;
}